*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
		margin: 0px;
		background-color: #f7f7f7;
		
	}
		
.Barras{
		background: #f7f7f7;
		width: 1365px;
		height: 50px;
		border-bottom: 1px solid gray;
		display: flex;
		justify-content: space-between;
	}

.Barras a{
		font-family: Ink Free;
		color: black;
		text-decoration: none;
		font-size: 35px;
		font-weight: bold;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
}

.Barras a:hover{
		background: rgba(0,0,0, .2);
}

.Barras a.active{
		background: black;
}

.logos img{
		width: 350px;
		height: 200px;
		justify-content: center;
		text-align: center;	
		left: 40%;
		position: relative;
	}
.wrap{
	width: 1365px;
	height: 1000px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: 	wrap;	
	
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 427px;
	height: 480px;
	background: #f7f7f7;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: black;
	font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831724877-9Y5XTDT5UPP3B3HD78KU/ke17ZwdGBToddI8pDm48kPzvUQ1eMSnFv9e9PSwqTPx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWVYc2-GXI7EEqnmbFfuLpMyxw7bsshuCOEHHn9dY7JOB0IPquf7l3-u9rEP9kgjtw/CBW018_Custom_Birthday_UnicornMiniUnicorn_sculpture_standing_number.jpg?format=300w);
	background-size: cover;
}

.card2{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831747115-QDQPEGUP840NDO2CL80F/ke17ZwdGBToddI8pDm48kGtofl6VDtnL6AvCPvvaIKx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UT-AK9VP2QYM-_1H9zI-7j7vSqUWUaa4Q8cF2k8ICtCdL80f09bnoCAaEtC7dJlcYA/CBW055_Custom_Single+Tier_Birthday_Watercolor_Painting_Rainbow+%281%29.jpg?format=300w);
	background-size: cover;
}

.card3{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831755425-QJSTEDX6HUFF46PNFKD6/ke17ZwdGBToddI8pDm48kDm1eflwDlGAo4nDg17EaIJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWthzcij4ls-z6qLpCVomO7mmSnHBgP_XWABftfsyFRhgw70n2sEakuJ3CMJig9qhg/CBW094_Custom_birthday_3tier_topsy+turvy_alive+in+wonderland.jpg?format=300w);
	background-size: cover;
}

.card4{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831816199-W6MW7OM2UUNBHCCVI8RM/ke17ZwdGBToddI8pDm48kGHTqRH5XjhnxBhPpqHI7Ol7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmQPoRzxSr1hzN-vPBHt7YyMaFrRiALIIpul7_stfe_ju1RL6l_QUZ92iDPrec2h2R/CBW169_custom_ocean_sea_beach_mermaid_blue_buttercream_birthday_single_1tier_sand_starfish.jpg?format=300w);
	background-size: cover;
}

.card5{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831765025-ZWI81YKICS9BIAPDRT7L/ke17ZwdGBToddI8pDm48kJ6w-Mn_L92Wy7I_yq3S_z57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaT4-WuIau7qL7QbDFsD7ZsPmMlyhEfJcV4hD_jGaCqHAgMpwO_DsnklMNd6yeeYsw/CBW112_custom_candy_4tier_rainbow_birthday_quilting_pink_sugar.jpg?format=300w);
	background-size: cover;
}

.card6{
	background-image: url(https://images.squarespace-cdn.com/content/v1/5c111cc8f8370aa4e72e1994/1582831723162-JHY37IFXECAOAWDAJM2E/ke17ZwdGBToddI8pDm48kHKMMOLV2E2lpBt-i3JkW557gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UX6aJYC0UfjOtf202aOmykOMrJE_4usY4qQ21itgxPRn2iqjKGoRq3dlM8Z2Zt2MCg/CBW017_Custom_Birthday_IceCream_drip_cone_sprinkles.jpg?format=300w);
	background-size: cover;
}

.atras p{
	font-family: ink free;
	font-size: 20px;
	
}